In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
salary_df=pd.read_csv('data/glassdoor_salary_cleaned.csv')

In [7]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return "data scientist"
    elif 'data engineer' in title.lower():
        return "data engineer"
    elif 'analyst' in title.lower():
        return "analyst"
    elif 'machine learning' in title.lower():
        return "mle"
    elif 'manager' in title.lower():
        return "manager"
    elif 'director' in title.lower():
        return "director"
    else:
        return "na"

def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return "senior"
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return "jr"
    else:
        return "na"

In [ ]:
#simplify job titles and get the seniority

salary_df['title_simplified']=salary_df['Job Title'].apply(title_simplifier)
print(salary_df['title_simplified'].value_counts())
salary_df['seniority']=salary_df['Job Title'].apply(seniority)
salary_df['seniority'].value_counts()

title_simplified
data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: count, dtype: int64

seniority
na        520
senior    220
jr          2
Name: count, dtype: int64

In [12]:
# Fix 'Los Angeles' status and delete blanks
salary_df['job_state']=salary_df['job_state'].apply(lambda x : x.strip() if x.strip().lower() != 'los angeles' else 'CA')
salary_df['job_state'].value_counts()

job_state
CA    152
MA    103
NY     72
VA     41
IL     40
MD     35
PA     33
TX     28
WA     21
NC     21
NJ     17
FL     16
OH     14
TN     13
DC     11
CO     11
IN     10
UT     10
WI     10
AZ      9
MO      9
AL      8
GA      6
MI      6
KY      6
DE      6
IA      5
CT      5
OR      4
NE      4
LA      4
NM      3
KS      3
MN      2
ID      2
RI      1
SC      1
Name: count, dtype: int64

In [ ]:
# getting job description length
salary_df['desc_len']=salary_df['Job Description'].apply(lambda x : len (x))
salary_df.desc_len

0      2555
1      4828
2      3495
3      3926
4      2748
       ...
737    6219
738    6167
739    3107
740    1678
741    3710
Name: desc_len, Length: 742, dtype: int64